@page "/YourWatch"
@inherits YourWatchBase

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@if (UserStocks == null && ErrorMessage == null)
{
    <h1>Loading...</h1>
}
else if (ErrorMessage != null)
{
    <h1>@ErrorMessage</h1>
}
else 
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h1" Align="Align.Center" Class="my-10">Your Stock Watch</MudText>
        <hr />
        <MudGrid>
            @foreach (var stock in UserStocks)
            {
                <MudItem sm="6" Class="d-flex align-center justify-center mud-width-full">
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Class="my-10" Size="Size.Large">
                        <MudButton Href="@($"StockDetail/{stock.Ticker}/1day")">
                            <MudText Typo="Typo.h2">
                                @stock.Ticker
                            </MudText>
                        </MudButton>
                        <MudButton OnClick="(() => RemoveStock_Click(stock.Id))">Remove</MudButton>
                    </MudButtonGroup>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>

}